<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IntexWinter2024</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login&register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <a asp-controller="Home" asp-action="Index">
            <b style="font-size: xx-large; font-family: sans-serif; color: white;">Aurora's Bricks</b>
        </a>
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a href="#">Browse Kits</a>
            <a asp-controller="Home" asp-action="AboutUs">About Us</a>
            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="nav-link" asp-controller="Account" asp-action="Login">Sign in</a>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-link" style="margin-left: 20px; color: white; font-family: sans-serif; font-size: large; padding: 7px 4px; margin: 7px; text-decoration:none; border: none;">
                        Logout
                    </button>
                </form>
            }
            <div>
                <a asp-area="" asp-controller="Home" asp-action="AdminLandingPage"><i class="fa-solid fa-user-tie"></i></a>
            </div>
            <div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </nav>
    </header>
    <div class="render-body-container">
        <main role="main" class="pb-3">
            @RenderBody()
            <partial name="_CookieConsentPartial" />
        </main>
    </div>

    <footer class="border-top footer text-muted" style="position: fixed; bottom: 0; width: 100%; background-color: #317287;">
        <div class="footer-container">
            &copy; 2024 - IntexWinter2024 - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: white;">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
