@{
    ViewData["Title"] = "Products";
}
@model ProductsListViewModel
<div class="row m-1 p-1">
    <div class="col-2">
        <form asp-controller="Home" asp-action="Browse" method="get">
            <div class="row">
                <label for="productCategory">Filter By Category:</label>
                <vc:product-categories selectedCategory="@ViewData["SelectedCategory"]" />
            </div>
            <br />
            <div class="row">
                <label for="primaryColor">Filter By Color:</label>
                <vc:product-colors selectedColor="@ViewData["SelectedColor"]" />
            </div>
            <br />
            <div class="row">
                <button class="btn btn-outline-secondary" asp-controller="Home" asp-action="Browse" type="submit">Apply Filters</button>
            </div>
            <div class="row">
                <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Browse">Reset Filters</a>
            </div>
        </form>
    </div>
    <div class="container col-10">
        @foreach (ProductCategoryViewModel p in Model.ProductCategoryViewModels)
        {
            <partial name="ProductSummary" model="p"/>
        
        }
        
        <div page-model="@Model.PaginationInfo" page-action="Browse" page-class-enabled="true" page-class="btn" 
             page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
    </div>
</div>


