@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Customer

<h2>Confirm Deletion</h2>
<h3>@Model.LastName, @Model.FirstName</h3>

<form method="post">

    <input type="hidden" asp-for="@Model.CustomerId" />

    <button type="submit">Delete</button>
    <a class="btn btn-danger" asp-controller="Home" asp-action="UserEdit">Cancel</a>
</form>