@model Product

<div class="row-cols-10">
    <div class="box-shadow col-4">image goes here</div>
    
    <div class="col-6">
            <h3>Title: @Model.Name</h3>
            <p>@Model.Price</p>
    </div>

</div>
