@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Customer

<form method="post" asp-action="UserEdit" asp-controller="Home">

    <input type="hidden" asp-for="CustomerId" />

    <div class="container">
        <div class="container-header">
            <h2>Product Info</h2>
        </div>
        <div class="customer-details">
            <br />
            <div class="detail-item">
                <label asp-for="FirstName">First Name:</label>
                <br>
                <input asp-for="FirstName" type="text" />
            </div>
            <br />
            <div class="detail-item">
                <label asp-for="LastName">Last Name:</label>
                <br>
                <input asp-for="LastName" type="text" />
            </div>
            <br />
            <div class="detail-item">
                <label asp-for="BirthDate">Year:</label>
                <br>
                <input asp-for="BirthDate" type="date" />
            </div>
            <br>
            <div class="detail-item">
                <label asp-for="CountryOfResidence">Country of Residence:</label>
                <br>
                <input asp-for="CountryOfResidence" type="text" />
            </div>
            <br>
            <div class="detail-item">
                <label asp-for="Gender">Price:</label>
                <br>
                <select asp-for="Gender" class="form-control">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
                <br />
            </div>
            <div class="detail-item">
                <label asp-for="RoleId">Role:</label>
                <br>
                <select asp-for="RoleId" class="form-control">
                    <option value="2">Customer</option>
                    <option value="1">Admin</option>
                </select>
                <br />
            </div>
        </div>
        <button type="submit" style="margin: auto; text-align: center; background-color: #317287; color: white;">Submit Changes</button>
    </div>
</form>
