@model IQueryable<string>

<div class="d-grid gap-2">    
    <select name="productCategory" id="productCategory">
        <option value=""></option>
        @foreach (string pc in Model ?? Enumerable.Empty<string>())
        {
            <option value="@pc">@pc</option>
        }
    </select>
</div>
