@model Order

<h2>Check out</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<div class="m-10 p-5">
    <form asp-action="Checkout" method="post">
        <input type="hidden" asp-for="CustomerId" value="@Convert.ToInt32(ViewData["CustomerId"])" />
        <input type="hidden" asp-for="Date" value="@DateTime.Now" /> 
        <input type="hidden" asp-for="DayOfWeek" value="@DateTime.Now.ToString("ddd")" />
        <input type="hidden" asp-for="EntryMode" value="CVC" />
        <input type="hidden" asp-for="Amount" value="1" />
        <input type="hidden" asp-for="TypeOfTransaction" value="Online" />
        <input type="hidden" asp-for="CountryOfTransaction" value="test" />
        <input type="hidden" asp-for="TypeOfCard" value="VISA" />
        <h3>Ship to</h3>
        <div class="form-group">
            <label>First Name: </label>
            <input class="form-control" />
        </div>
        <h3>Address</h3>
        <div class="form-group">
            <label>Line 1:</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>Line 2:</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>City:</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>State:</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>Zip:</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>Country:</label>
            <input class="form-control" asp-for="ShippingAddress" />
        </div>
        <h3>Payment Options</h3>
        <div class="form-group">
            <label>Affiliated Bank:</label>
            <select class="form-control" asp-for="Bank">
                <option value="HSBC">HSBC</option>
                <option value="Halifax">Halifax</option>
                <option value="Lloyds">Lloyds</option>
                <option value="Metro">Metro</option>
                <option value="Monzo">Monzo</option>
                <option value="RBS">RBS</option>
            </select>
        </div>
        <h3>Options</h3>
        <div class="checkbox">
            <label>
                <input /> Gift wrap these items
            </label>
        </div>
        <div class="text-center">
            <input class="btn btn-primary" type="submit"
                   value="Complete Order" />
        </div>
    </form>
</div>
