@{
}
<div class="text-center">
    <h2>Thanks!</h2>
    <p>Thanks for placing order. Your order is under review and we will notify you as soon as it's shipped!</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Browse">Return to Store</a>
</div>