@model LoginViewModel


<div class="container">
    <div class="container-header">
        <h2>Login</h2>
    </div>
    <br />
    <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group form-check">
            <input asp-for="RememberMe" class="form-check-input" />
            <label asp-for="RememberMe" class="form-check-label">Remember me?</label>
        </div>

        <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn btn-primary" style="padding: 5px 12px; font-family: sans-serif; background-color: #317287">Login</button>
        </div>
    </form>
    <br />
    <p style="text-align: center;">Don't have an account? <a asp-controller="Account" asp-action="Register"><b>Sign up</b></a></p>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
